$base-bg: #f0f8ff;
$blue: #040720;
$blue-mint: rgba(4, 7, 32, 0.5);
$blue-alt: rgba(4, 7, 32, 0.2);
$dark: #504e5b;
$gray: #7f7f90;
$light: #9e9ba5;
$light: #fefefe;
$orange: #ff6a00;
$orange-alt: #ffba88;
$linear-orange: linear-gradient(to right, #ff6a00, #FCBF93);