$blue: #040720;
$blue-mint: #04072080;
$blue-alt: #04072033;
$dark: rgba(0, 0, 0, 0.8);
$gray: #504e5b;
$gray-alt: #7f7f90;
$light: #fefefe;
$orange: #ff6a00;
$orange-alt: #ffba88;
$linear-orange: linear-gradient(to right, #ff6a00, #FCBF93);
$mint: #32c267;
$base-bg: #121212;
$base-color: #fff;
$base-color-alt: #f0f8ff;
// $light: #9e9ba5;
// $base-bg: #1B1B1B;
// $base-bg: #f0f8ff;
// $base-color: #1B1B1B;