$base-bg: #1b1b1b;
$base-color: #f0f8ff;
$blue: #040720;
$blue-mint: #04072080;
$blue-alt: #04072033;
$dark: rgba(0, 0, 0, 0.8);
$gray: #504e5b;
$gray-alt: #7f7f90;
// $light: #9e9ba5;
$light: #fefefe;
$orange: #ff6a00;
$orange-alt: #ffba88;
$linear-orange: linear-gradient(to right, #ff6a00, #FCBF93);
$mint: #32c267;