@use '../globals/colors';

h1,
h2,
h3 {
  margin-block: 0rem 1rem;
  font-weight: 600;
  line-height: 1.35;
}

h1 {
  font-size: calc(3.5vw + 2rem);
}

p {
  margin-block: 0rem 1rem;
  line-height: 1.2;
  letter-spacing: 1px;
}

a,
a:visited,
a:active,
a:focus {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clip__text {
  color: colors.$linear-orange;
  background-image: colors.$linear-orange;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}